html body {
	background-color: #f4f4f4;

}

html .tool {
	background-color: #031799;
	color: #ffffff;
}

html .btn-tool:hover {
	background-color: #ffffff;
	color:  #031799;
	border-color:  031799;
	box-shadow: 5px 5px #031799a3;
}

.text-tool{
	color: #031799;
}


datalist {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	writing-mode: horizontal-tb;
	width: 100%;
}

option {
	padding: 0;
}

input[type="range"] {
	position: relative;
	width: 100%;
}

#networkx {
	width: 100%;
	height: 100%;
	min-height: 400px;
	resize: both;
	overflow: auto;
	border: 1px solid lightgray;
}

canvas {
	width: 100%;
	height: 100%;
	min-height: 400px;
}

.row {
	margin-bottom: 20px;
}

.frame-graph {
	width: 100%;
	height: 100%;
	min-height: 600px;
	resize: both;
	overflow: auto;
	border: 1px solid lightgray;
}


g.Event>circle {
	fill: #00ffd0;
}

text {
	font-weight: 300;
}

.node circle {
	stroke: #999;
	fill: #fff;
	stroke-width: 1.5px;
}

.node rect {
	stroke: #333;
	fill: #fff;
	stroke-width: 1.5px;
}

.edgePath path {
	stroke: #333;
	stroke-width: 1.5px;
}

.label {
	stroke: #333;
	stroke-width: 1.5px;
}

#graph-container {
	width: 100%;
	height: 600px;
}