<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}">    </script>

    <script src="https://cdn.jsdelivr.net/npm/dagre@0.8.5/dist/dagre.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7.8.5/dist/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dagre-d3@0.6.4/dist/dagre-d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-zoom@3.0.0/dist/d3-zoom.min.js"></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-light justify-content-center shadow-sm tool">
        <h1 class="navbar-brand">EKG-discovery</h1>
    </nav>
    <!-- SLIDERS-->
    <div class="container  mt-4">

        <div class="row" id="sliders">

            <form method="POST" action="get_graph">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> Node Aggregation</h5>
                                <div class="row">
                                    {% for key, value in session['activity'].items() %}
                                    <label class="p" for="activity_slider"><strong> {{ key }}: </strong></label>
                                    <input type="range" min="1" max="{{ value['steps']|length }}"
                                        value="{{ value['selected_step'] }}" step="1" id="activity_slider"
                                        list="event_values" name="activity_slider" class="slider" />

                                    <datalist id="event_values">
                                        {% set count = namespace(value=0) %}
                                        {% for slider_step in value['steps'] %}
                                        {% set count.value = count.value + 1 %}
                                        <option value="{{  count.value }}" label="{{ slider_step }}"></option>
                                        {% endfor %}
                                    </datalist>
                                    {% endfor %}
                                </div>
                                <!-- Create a slider for each selected perspective -->
                                {% for key, value in session['sliders'].items() %}
                                <div class="row">
                                    <label class="p" for="{{ key }}_slider"><strong> {{ key }}: </strong></label>
                                    <input type="range" min="1" max="{{ value['steps']|length }}"
                                        value="{{ value['selected_step'] }}" step="1" id="{{ key }}_slider"
                                        list="{{ key }}_values" name="{{ key }}_slider" class="slider" />

                                    <datalist id="{{ key }}_values">
                                        {% set count = namespace(value=0) %}
                                        {% for slider_step in value['steps'] %}
                                        {% set count.value = count.value + 1 %}
                                        <option value="{{ count.value }}" label="{{ slider_step }}"></option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> Edge View</h5>
                                <div class="row">
                                    <label class="p" for="edge_msg">PERSPECTIVE ID:</label>
                                    <div class="form-check form-switch">
                                        <input type="checkbox" id="activity_switch" name="activity_switch"
                                            class="form-check-input">
                                        <label class="form-check-label show-label" for="activity_switch">Show</label>
                                        <label class="form-check-label hide-label" for="activity_switch">Hide</label>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                </div>
        </div>
        <div class="row">
            <input type="submit" class="btn tool btn-tool" value="Show Graph" />
        </div>
        </form>

    </div>
    <div class="row" id="analysis">
    </div>

    <div class="row">
        <div class="d-flex justify-content-end mb-3">
            <div class="btn-group">
                <!-- Toggle Graph Direction Button -->
                <button id="toggle-button" class="btn btn-outline-secondary" title="Change Graph Direction"><i
                        class="fa fa-repeat" aria-hidden="true"></i> Toggle Direction
                </button>
                <!-- Download SVG Button -->
                <button onclick="downloadGraph()" class="btn btn-outline-secondary" title="Download SVG"><i
                        class="fa fa-download" aria-hidden="true"></i> Download SVG
                </button>

                <button class="btn btn-outline-dark" title="Please Discover Process" type="button"
                    onclick="openNewTab()" id="measures">Measurements GUI</button>
                <script>
                    function openNewTab() {
                        localStorage.setItem('sharedContent', document.getElementById('graph-container').innerHTML);
                        window.open("{{ url_for('graph.measurements_gui') }}", "_blank");
                    }
                </script>
            </div>
        </div>
        <!-- Graph Container -->
        <div id="graph-container"></div>

    </div>


    <script>
        const response_data = {{ response_data|default ("") | tojson }}
        generate_dagre(response_data)
    </script>
    </div>

</body>

</html>