<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}">    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-light justify-content-center shadow-sm tool">
        <h1 class="navbar-brand">EKG-discovery</h1>
    </nav>

    <!-- Content Container -->
    <div class="container mt-4">

        <!-- File Upload Section -->
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        {% if not query_data %}
                        <form action="/uploader" method="POST" enctype="multipart/form-data">
                            <h5 class="card-title">Upload your event log:</h5>
                            <div class="input-group mb-3">
                                <input type="file" name="log_file" accept=".csv" class="form-control"
                                    aria-describedby="fileUploadBtn">
                                <button type="submit" class="btn btn-outline-secondary"
                                    id="fileUploadBtn">Upload</button>
                            </div>
                        </form>
                        <p class="card-text text-muted">*only .csv format supported</p>
                        {% else %}
                        <h5 class="card-title"> Log Uploaded: <strong> {{ query_data['log_name'] }}</strong></h5>
                        <p class="card-text text-tool">File successfully uploaded!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Parameter Identifiers Section -->
        {% if query_data %}
        <div class="mt-4">
            <form action="{{ url_for('graph.set_data') }}" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-light">
                                <h5 class="card-title">Map the following data</h5>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="d-event" class="form-label">Event ID:</label>
                                    <select id="d-event" name="d-event" class="form-select"
                                        onchange="updateCheckboxes(this)">
                                        {% for key, value in query_data.items() %}
                                        {% if key != 'path' and key != 'log_name' %}
                                        <option value="{{ key }}">{{ key }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="d-time" class="form-label">Timestamp:</label>
                                    <select id="d-time" name="d-time" class="form-select"
                                        onchange="updateCheckboxes(this)">
                                        {% for key, value in query_data.items() %}
                                        {% if key != 'path' and key != 'log_name' %}
                                        <option value="{{ key }}">{{ key }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="d-activity" class="form-label">Activity:</label>
                                    <select id="d-activity" name="d-activity" class="form-select"
                                        onchange="updateCheckboxes(this)">
                                        {% for key, value in query_data.items() %}
                                        {% if key != 'path' and key != 'log_name' %}
                                        <option value="{{ key }}">{{ key }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-light">
                                <h5 class="card-title">Select the Entities</h5>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Data Columns</th>
                                            <!--    <th>Desired Identifier</th>-->
                                            <th>Entity?</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, value in query_data.items() %}

                                        {% if key == 'path' or key == 'log_name' %}
                                        <td><label for="{{ value }}" hidden>{{ key }}</label></td>
                                        <input type="text" id="{{ value }}" name="{{ key }}" value="{{ value }}" hidden>
                                        {% else %}
                                        <tr>
                                            <!--    <td><input type="text" id="{{ value }}" name="{{ key }}" value="{{ value }}"
                                                class="form-control"></td>-->
                                            <td><label for="{{ value }}">{{ key }}</label></td>
                                            <td><input class="form-check-input checkbox" type="checkbox"
                                                    id="{{ key }}_entity" name="{{ key }}_entity"></td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <hr class="mt-4">

                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <input type="checkbox" id="skip_data" name="skip_data" value="EntData">
                        <label for="skip_data"> Skip Entity Data</label><br>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <button type="submit" class="btn tool btn-tool">Upload</button>
                    </div>
                </div>
            </form>
        </div>
        {% else %}

        <!-- DB Cleaned Section -->
        <div class="row mt-2">
            <div class="col-md-6 mx-auto text-center">
                {% if db_cleaned %}
                <p class="text-tool">Your DB has been successfully cleaned!</p>
                {% else %}
                <p>Delete old DB?</p>
                <a class="btn tool btn-tool" href="{{ url_for('uploader.delete_db') }}">Click Here <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 mx-auto text-center">
                <p>DB Ready?</p>
                <a class="btn tool btn-tool" href="{{ url_for('uploader.db_ready') }}">Go <i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
            </div>
        </div>
        {% endif %}

    </div>

    <script>
        // entity checkbox is disabled if the element has been selected in the mapping area
        function updateCheckboxes(selectElement) {
            var selectedValue = selectElement.value + '_entity';
            var checkboxes = document.querySelectorAll('.checkbox');
            var allSelects = document.querySelectorAll('.form-select');

            var selectCheck = Array.from(allSelects, element => element[element.selectedIndex].value);

            console.log(selectCheck);

            checkboxes.forEach(checkbox => {
                var name = checkbox.name.replace('_entity', '');
                checkbox.disabled = selectCheck.includes(name);
            });
        }
    </script>
</body>

</html>